body {
  background-color: #242424;
}

* {
  color: #ebe3d2;
}

.main--nav__item a:link,
.main--nav__item a:visited {
  color: #ebe3d2;
  text-decoration: none;
  transition: all 500ms;
}

.main--nav__item a:hover,
.main--nav__item a:active {
  text-decoration: none;
  color: #ff5f00;
}

.cta--icon {
  filter: invert(93%) sepia(0%) saturate(6911%) hue-rotate(217deg)
    brightness(112%) contrast(78%);
}

.btn-mobile-nav {
  filter: invert(91%) sepia(15%) saturate(188%) hue-rotate(1deg) brightness(96%)
    contrast(96%);
}

.copyright {
  color: #ebe3d2;
}

/* ******************************* */
/* BELLOW 944px (Portrait Tablets) */
/* ******************************* */

@media (max-width: 59em) {
  .main--nav {
    background-color: rgba(63, 64, 68, 0.8);
  }
}
