body {
  background-color: #97cbcd;
}

.works--image {
  position: relative;
  display: flex;
  justify-content: center;
}

.works--image video {
  position: absolute;
  /* z-index: 1; */
  /* left: 50px; */

  margin: 0 auto;
}

.works--video__first {
  width: 31.75rem;
  top: 22.2rem;
  left: 75.2rem;
}

.works--video__second {
  width: 38rem;
  top: 15rem;
  left: 54.5rem;
}

.hidden-images {
  display: none;
  visibility: none;
}

/* ******************************* */
/* BELLOW 1500px */
/* ******************************* */

@media (max-width: 93.75em) {
  .works--video__first {
    width: 24.9rem;
    top: 17.6rem;
    left: 59.17rem;
  }

  .works--video__second {
    width: 30rem;
    top: 12rem;
    left: 42.65rem;
  }
}

/* ******************************* */
/* BELLOW 1280px */
/* ******************************* */

@media (max-width: 80em) {
  .works--video__first {
    width: 20.3rem;
    top: 14.35rem;
    left: 48.4rem;
  }

  .works--video__second {
    width: 24rem;
    top: 10.5rem;
    left: 35.2rem;
  }
}

/* ******************************* */
/* BELLOW 944px (Portrait Tablets) */
/* ******************************* */

@media (max-width: 59em) {
  .works--container {
    padding-bottom: 2.4rem;
  }

  .works--brief {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .works--video__first {
    width: 33.7rem;
    top: 25.2rem;
    left: 14.2rem;
  }

  .works--video__second {
    width: 28rem;
    top: 7rem;
    left: 17.2rem;
  }
}

/* ******************************* */
/* BELLOW 600px*/
/* ******************************* */

@media (max-width: 37.5em) {
  .works--images {
    max-width: 45rem;
  }

  .works--video__first {
    width: 25.25rem;
    top: 18.85rem;
    left: 10.65rem;
  }

  .works--video__second {
    width: 21rem;
    top: 4.9rem;
    left: 12.95rem;
  }
}

/* ******************************* */
/* BELLOW 450px (Phones) */
/* ******************************* */

@media (max-width: 28.125em) {
  /* .works--images {
    max-width: 45rem;
  } */

  .works--video__first {
    width: 17.9rem;
    top: 13.45rem;
    left: 7.6rem;
  }

  .works--video__second {
    width: 15rem;
    top: 4rem;
    left: 9.1rem;
  }
}
