/* ******************************* */
/* BELLOW 1920px */
/* ******************************* */

@media (max-width: 120em) {
  .container {
    width: 120rem;
    margin: 4.8rem auto 8rem auto;
  }

  .main--heading {
    font-size: 7.451rem;
  }

  .main--nav {
    font-size: 1.953rem;
  }

  .carousel {
    max-width: 153.4rem;
    column-gap: 2.4rem;
  }

  .carousel-description {
    margin-right: 4.8rem;
  }

  .carousel img {
    height: 36rem;
    margin-right: auto;
  }

  .carousel-description__title {
    font-size: 3.815rem;
  }

  .carousel-description__text {
    font-size: 1.953rem;
  }

  .carousel-description__link {
    font-size: 1.563rem;
  }

  .carousel--btn {
    height: 3.815rem;
    width: 3.815rem;
  }
}

/* ******************************* */
/* BELLOW 1380px */
/* ******************************* */

@media (max-width: 86.25em) {
  .container {
    width: 100rem;
  }

  .main--heading {
    font-size: 5.96rem;
  }

  .main--nav {
    font-size: 1.953rem;
  }

  .carousel {
    max-width: 138rem;
  }

  .carousel-description {
    margin-right: 4.8rem;
  }

  .carousel img {
    height: 30rem;
    margin-right: auto;
  }

  .carousel-description__title {
    font-size: 3.052rem;
  }

  .carousel-description__text {
    font-size: 1.953rem;
  }

  .carousel-description__link {
    font-size: 1.25rem;
  }

  .carousel--btn {
    height: 2.441rem;
    width: 2.441rem;
  }
}

/* ******************************* */
/* BELLOW 1200px */
/* ******************************* */

@media (max-width: 75em) {
  .container {
    width: 80rem;
  }

  .main--heading {
    font-size: 5.96rem;
  }

  .carousel {
    max-width: 120rem;
    column-gap: 2.4rem;
  }

  .carousel-description {
    margin-right: 1.6rem;
  }

  .carousel img {
    height: 24rem;
    margin-right: auto;
  }

  /* ******************************* */
  /* BELLOW 944px (Portrait Tablets) */
  /* ******************************* */
  @media (max-width: 59em) {
    .container {
      width: 65rem;
    }

    .main--heading {
      font-size: 4.768rem;
    }

    .carousel {
      /* margin: 3.2rem 3.2rem; */
      flex-direction: column;
      max-width: 73rem;
    }

    .carousel img {
      height: 25rem;
      object-fit: cover;
    }

    /* .carousel-img {
      height: 100%;
      object-fit: cover;
    } */
  }

  @media (max-width: 27em) {
    .container {
      width: 32rem;
    }

    .carousel {
      align-items: center;
    }

    .main--heading {
      font-size: 3.052rem;
    }

    .carousel {
      max-width: 30rem;
    }

    .carousel-img {
      height: 100%;
      object-fit: cover;
    }
  }
}
