/* ******************************* */
/* BELLOW 1920px */
/* ******************************* */

@media (max-width: 120em) {
  .container {
    width: 140rem;
    margin: 4.8rem auto 8rem auto;
  }

  .main--heading {
    font-size: 7.451rem;
  }

  .main--nav {
    font-size: 1.953rem;
  }

  .carousel {
    max-width: 100%;
  }

  .carousel-description {
    margin-right: 3.2rem;
  }

  .carousel img {
    height: 47rem;
    margin-right: auto;
  }

  .carousel-description__title {
    font-size: 3.815rem;
  }

  .carousel-description__text {
    font-size: 1.953rem;
  }

  .carousel-description__link {
    font-size: 1.563rem;
  }

  /* .carousel--btn {
    height: 3.815rem;
    width: 3.815rem;
  } */
}

/* ******************************* */
/* BELLOW 1722px */
/* ******************************* */

@media (max-width: 107.6em) {
  .container {
    width: 100rem;
  }

  .main--heading {
    font-size: 5.96rem;
  }

  .main--nav {
    font-size: 1.953rem;
  }

  .carousel {
    /* max-width: 138rem; */
  }

  .carousel-description {
    margin-right: 4.8rem;
  }

  .carousel img {
    height: 40rem;
  }

  .carousel-description__title {
    font-size: 3.052rem;
  }

  .carousel-description__text {
    font-size: 1.953rem;
  }

  .carousel-description__link {
    font-size: 1.25rem;
  }

  /* .carousel--btn {
    height: 2.441rem;
    width: 2.441rem;
  } */
}

/* ******************************* */
/* BELLOW 1440px */
/* ******************************* */

@media (max-width: 90em) {
  .container {
    width: 100rem;
  }

  .main--heading {
    font-size: 5.96rem;
  }

  .carousel {
    column-gap: 2.4rem;
  }

  .carousel-description {
    margin-right: 1.6rem;
  }

  .carousel img {
    height: 36rem;
  }
}

/* ******************************* */
/* BELLOW 1290px */
/* ******************************* */

@media (max-width: 80.625em) {
  .container {
    width: 90rem;
  }

  .carousel img {
    height: 28rem;
  }

  .carousel-description__title {
    font-size: 2.441rem;
  }

  .carousel-description__text {
    font-size: 1.563rem;
  }

  .carousel-description__link {
    font-size: 1rem;
  }
}
/* ******************************* */
/* BELLOW 944px (Portrait Tablets) */
/* ******************************* */
@media (max-width: 59em) {
  .container {
    width: 65rem;
  }

  .main--heading {
    font-size: 4.768rem;
  }

  .carousel {
    /* margin: 3.2rem 3.2rem; */
    flex-direction: column;
    max-width: 72rem;
  }

  .carousel img {
    height: 25rem;
    /* object-fit: cover; */
  }

  /* .carousel-img {
      height: 100%;
      object-fit: cover;
    } */

  .carousel-description {
    margin-bottom: 3.2rem;
  }
}

/* ******************************* */
/* BELLOW 432px (Phones) */
/* ******************************* */

@media (max-width: 27em) {
  .container {
    width: 32rem;
  }

  .main--heading {
    font-size: 3.052rem;
  }

  .main--nav {
    font-size: 1.25rem;
  }

  .main--nav__item {
    padding: 0.5rem;
  }

  .carousel {
    align-items: center;
  }

  .carousel {
    max-width: 100%;
  }

  .carousel img {
    height: 10.3rem;
  }

  .carousel-description {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .carousel-description__title {
    font-size: 1.953rem;
  }

  .carousel-description__text {
    font-size: 1.25rem;
  }

  .carousel-description__link {
    font-size: 1rem;
  }

  .carousel--btn {
    height: 3.052rem;
    width: 3.052rem;
  }
}
