/* 

--- 01 TYPOGRAPHY ---

FONT SIZES: 
1rem / 1.25rem / 1.563rem / 1.953rem / 2.441rem / 3.052rem / 
3.815rem / 4.768rem / 5.96rem / 7.451rem / 9.313rem

--- 07 WHITESPACE

--- 02 SPACING SYSTEM (px) ---
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT WEIGHTS:
 - Default: 400
 - Medium: 600
 - Bold: 700

LINE HEIGHT: 
 - Default: 1
 - Medium: 1.2
 - Large: 1.8
 - Paragraph default: 1.6

LETTER SPACING: 
 - -0.5px
 - 0.75px


--- 03 COLORS ---

- Primary: #ff5f00
- Background: #fff5f0 
- Tints: #ffefe6 (not used yet) 
- Shades:

- Greys: 
#1b1b1b 

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  background-color: #fff5f0;
  color: #1b1b1b;
}

.container {
  /* margin-top: 1.25rem; */
  width: 190rem;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 6.4rem auto;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main--heading {
  font-weight: 700;
  font-size: 9.313rem;
  line-height: 1;
  position: relative;
}

.main--heading::after {
  content: ".";
  color: #ff5f00;
  margin: 0;
  padding: 0;
  position: absolute;
}

.main--nav {
  font-size: 3.815rem;
  font-weight: 400;
  list-style: none;
}

.main--nav__item {
  text-align: right;
  padding: 0.8rem;
}

.main--nav__item a:link,
.main--nav__item a:visited {
  color: #1b1b1b;
  text-decoration: none;

  transition: all 500ms;
}

.main--nav__item a:hover,
.main--nav__item a:active {
  text-decoration: none;
  color: #ff5f00;
  height: 2rem;
  /* box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.05); */
}

article {
  font-size: large;
}

.carousel {
  max-width: 25.6rem;
  margin: 2.4rem auto;
  background-color: #fff4e6;

  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.25rem; */

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3.2rem;
  justify-items: center;
  align-items: center;

  position: relative;
}

.carousel img {
  height: 6.4rem;
  /* width: 12.5rem; */
  grid-row: span 2;
}

.carousel--title {
  font-size: 5.96rem;
  font-weight: 600;
}

.carousel--description {
  font-size: 3.052rem;
}

.carousel--btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 3.815rem;
  width: 3.815rem;
  position: absolute;
  /* border-radius: 50%; */
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
  cursor: pointer;
}

.carousel--btn__left {
  top: 50%;
  left: 0;
  transform: translate(-5%, -50%);
}

.carousel--btn__right {
  top: 34%;
  right: 0;
  transform: translate(5%, 50%);
}

.carousel--arrow {
  stroke: rgba(0, 0, 0, 0.3);
}
