/* 

--- 01 TYPOGRAPHY ---

FONT SIZES: 
1rem / 1.25rem / 1.563rem / 1.953rem / 2.441rem / 3.052rem / 
3.815rem / 4.768rem / 5.96rem / 7.451rem / 9.313rem

--- 07 WHITESPACE

--- 02 SPACING SYSTEM (px) ---
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT WEIGHTS:
 - Default: 400
 - Medium: 600
 - Bold: 700

LINE HEIGHT: 
 - Default: 1
 - Medium: 1.2
 - Large: 1.8
 - Paragraph default: 1.6

LETTER SPACING: 
 - -0.5px
 - 0.75px


--- 03 COLORS ---

- Primary: #ff5f00
 --- Tints:  #ffefe6 
 --- Shades: 
 - Text: #EBE3D2
 --- Tints: #bcb6a8 
 --- Shades: 
 
- Background: #2A2B2F 
 --- Tints: #3f4044 
 --- Shades:

- Greys: 
#1b1b1b 

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  background-color: #2a2b2f;
  color: #ebe3d2;
}

.container {
  max-width: 140rem;
  margin: 8rem auto 8rem auto;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.main--heading {
  font-weight: 700;
  font-size: 7.451rem;
  line-height: 1;
  position: relative;
}

.heading span {
  color: #ff5f00;
}

.main--heading p {
  font-size: 3.815rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin-top: 1.2rem;
}

/* .main--heading::after {
  content: ".";
  color: #ff5f00;
  margin: 0;
  padding: 0;
  position: absolute;
} */

.main--nav {
  font-size: 1.953rem;
  font-weight: 400;
}

.main--nav ul {
  list-style: none;
}

.main--nav__item {
  text-align: right;
  padding: 1.2rem;
}

.main--nav__item a:link,
.main--nav__item a:visited {
  color: #ebe3d2;
  text-decoration: none;
  transition: all 500ms;
}

.main--nav__item a:hover,
.main--nav__item a:active {
  text-decoration: none;
  color: #ff5f00;
  height: 2rem;
  /* box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.05); */
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  align-self: baseline;

  filter: invert(91%) sepia(15%) saturate(188%) hue-rotate(1deg) brightness(96%)
    contrast(96%);

  display: none;
}

.icon-mobile-nav {
  height: 3.815rem;
  width: 3.815rem;
  /* 4.768rem / 5.96rem */
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

article {
  font-size: large;
}

.carousel {
  max-width: 140rem;
  margin: 0 auto;
  /* background-color: #3f4044; */

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.8rem;
  align-items: center;
  position: relative;
  bottom: -2.4rem;
}

.carousel img {
  max-width: 100%;
  align-content: left;
}

.carousel-description {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.carousel-description__title {
  font-size: 1.953rem;
  font-weight: 700;
}

.carousel-description__text {
  font-size: 1.953rem;
}

.carousel-description__link {
  margin-top: -0.8rem;
}

.carousel-description__link span {
  font-weight: bold;
  font-size: 3.052rem;
  color: #ff5f00;
}

.carousel--btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 4.768rem;
  width: 4.768rem;
  position: absolute;
  /* border-radius: 50%; */
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
  cursor: pointer;
}

.carousel--btn__left {
  top: 42%;
  left: 0;
  transform: translate(-100%, 50%);
}

.carousel--btn__right {
  top: 42%;
  right: 0;
  transform: translate(100%, 50%);
}

.carousel--arrow {
  stroke: #ff5f00;
}

.featured--works,
.cta {
  max-width: 140rem;
  margin: 8rem auto 8rem auto;
}

.featured--works__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured--works__view {
  font-size: 1.953rem;
  transition: all 500ms;
}

.featured--works__view span {
  font-weight: 700;
  color: #ff5f00;
}

.featured--works__view a:link,
.featured--works__view a:visited {
  text-decoration: none;
  color: #ebe3d2;
  transition: all 500ms;
}

.featured--works__view a:hover,
.featured--works__view a:active {
  color: #ff5f00;
}

.secondary--heading {
  font-weight: 700;
  font-size: 7.451rem;
  line-height: 1;
  position: relative;
}

.featured--works__items {
  display: flex;
  /* gap: 0.8rem; */
  margin-top: 8rem;
  justify-content: space-between;
}

.featured--works__item {
  max-width: 44.25rem;
}

.featured--works__item img {
  max-width: 100%;
}

.featured--works__item figcaption {
  margin-top: 1.2rem;
}

.featured--works__item h3 {
  font-size: 1.953rem;
  font-weight: 700;
}

.featured--works__item p {
  font-size: 1.953rem;
}

.featured--works__item {
  display: flex;
  flex-direction: column;
}

.featured--works__item div {
  overflow: hidden;
}

.featured--works__item img {
  display: block;
  width: 100%;
  transition: all 500ms;
}

.featured--works__item img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.cta {
  max-width: 140rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta--email {
  color: #ebe3d2;
  text-decoration: none;
  display: inline-block;
}

.cta-heading {
  transition: all 500ms;
}

.cta-heading:hover,
.cta-heading:active {
  color: #ff5f00;
}

.cta-heading:link,
.cta-heading:visited {
  color: #ebe3d2;
}

.cta--icons {
  display: flex;
  gap: 2.4rem;
}

.cta--icon {
  width: 3.052rem;
  filter: invert(91%) sepia(15%) saturate(188%) hue-rotate(1deg) brightness(96%)
    contrast(96%);
  /* transition: 500ms; */
}

.cta--icon:hover,
.cta--icon:active {
  filter: invert(43%) sepia(40%) saturate(5448%) hue-rotate(2deg)
    brightness(105%) contrast(103%);
  fill: #ff5f00;
}

.copyright {
  max-width: 140rem;
  margin: 0 auto 4rem auto;
  color: #bcb6a8;
}
