/* FONT SIZES: 
0.512rem / 0.64rem / 0.8rem / 1rem / 1.25rem / 1.563rem / 1.953rem / 2.441rem / 3.052rem */

html {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1.563rem;
  background-color: #fffaf5;
  color: #1b1b1b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 28rem;
  margin-left: auto;
  margin-right: auto;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main--heading {
  font-weight: 700;
  font-size: 3.052rem;
  line-height: 1;
  position: relative;
}

.main--heading::after {
  content: ".";
  color: #ff5f00;
  margin: 0;
  padding: 0;
  position: absolute;
}

.main--nav {
  font-weight: 400;
  list-style: none;
}

.main--nav__item {
  text-align: right;
  padding: 0.61rem;
}

.main--nav__item a {
  color: #1b1b1b;
  text-decoration: none;
}

.main--nav__item a:hover,
.main--nav__item a:active {
  text-decoration: none;
  color: #ff5f00;
}

article {
  font-size: large;
}

@media (min-width: 900px) {
  .container {
    width: 35rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 45rem;
  }
}
