html {
  font-family: "Karla", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  background-color: #fffaf5;
  color: #1b1b1b;
}

.container {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main--heading {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
  position: relative;
}

.main--heading::after {
  content: ".";
  color: #ff5f00;
  margin: 0;
  padding: 0;
  position: absolute;
}

.main--heading__orange-dot {
  /* content: "."; */
  color: #ff5f00;
}
.main--nav {
  font-weight: 400;
  list-style: none;
}

.main--nav__item {
  text-align: right;
  padding: 0.64rem;
}

.main--nav__item a {
  color: #1b1b1b;
  text-decoration: none;
}

.main--nav__item a:hover,
.main--nav__item a:active {
  text-decoration: none;
  color: #ff5f00;
}

article {
  font-size: large;
}
