<section class="cta">
    <a class="cta--email" href="contact.html">
        <h2 class="heading secondary--heading cta-heading">
            Let's collaborate<span>!</span>
        </h2>
    </a>
    <div class="cta--icons">
        <a href="mailto:hello@natassjavelasco.com">
            <img
                    class="cta--icon"
                    src="../svg/email-svgrepo-com.svg"
                    alt="Email SVG"
            />
        </a>
        <a href="https://www.linkedin.com/in/natassjavelasco/" target="_blank">
            <img
                    class="cta--icon"
                    src="../svg/linkedin-logo-svgrepo-com.svg"
                    alt="Linkedin SVG"
            />
        </a>
        <a href="https://www.instagram.com/itsnatthing" target="_blank">
            <img
                    class="cta--icon"
                    src="../svg/instagram-social-media-svgrepo-com.svg"
                    alt="Instagram SVG"
            />
        </a>
    </div>
</section>
<p class="copyright">
    Copyright &copy; <span class="year"></span> Natassja Velasco. All rights
    reserved.
</p>
