<h1 class="heading main--heading">
    #{title}
</h1>
<nav class="main--nav">
    <ul class="main--nav__items">
        <li class="main--nav__item home-btn">
            <a href="../index.html">home</a>
        </li>
        <li class="main--nav__item"><a href="about.html">about</a></li>
        <li class="main--nav__item">
            <a href="works.html">works</a>
        </li>
        <li class="main--nav__item">
            <a href="contact.html">contact</a>
        </li>
    </ul>
</nav>
<button class="btn-mobile-nav">
    <img
            class="icon-mobile-nav"
            src="../svg/hamburger-menu-svgrepo-com.svg"
            alt="menu button"
            title="menu-outline"
    />
    <img
            class="icon-mobile-nav"
            src="../svg/close-svgrepo-com.svg"
            alt="close button"
            title="close-outline"
    />
</button>
